html, body {
  margin: 0;
  padding: 0;
  background: rgb(33, 33, 36);
}
.clearboth {
  clear: both;
}
.popup {
  width: 280px;
  min-height: 180px;
  height: auto;
  background: #eeeeee;
  padding: 10px;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
}
.title {
  margin: 7px 0;
  font-family: 'Roboto', sans-serif;
}
.tagCont {
  position: relative;
  margin-bottom: 5px;
}
.tagInput {
  display: block;
  width: 96%;
  padding: 2%;
  background: #F5F8F9;
  border: 2px solid #DCE4E6;
  border-radius: 2px;
  color: #111111;
  box-sizing: border-box;
}
.btn {
  background: #1e75ce;
  background-image: -webkit-linear-gradient(top, #1e75ce, #085db7);
  background-image: linear-gradient(to bottom, #1e75ce, #085db7);
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.btn:hover {
  background: #085db7;
  background-image: -webkit-linear-gradient(top, #085db7, #1e75ce);
  background-image: linear-gradient(to bottom, #085db7, #1e75ce);
  text-decoration: none;
}
.singleTag {
  padding: 7px 12px 7px 12px;
  background: #6C9FD4;
  color: #fff;
  width: auto;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.tagValue {
  text-align: center;
}
.singleTag:hover {
  background: #cccccc;
  color: #333;
}
.singleTag:hover .delete{
  visibility: visible;
}
.delete {
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
  visibility: hidden;
}
#template, #currentTag {
  display: none;
}
#errorMsg {
  display: none;
}
.errorMsg {
  color: #FF0084;
}
.cover {
  width: auto;
  height: 100vh;
  display: block;
  margin: 0 auto;
  visibility: hidden;
}