html, body {
  margin: 0;
  padding: 0;
  background: rgb(33, 33, 36);
}
.clearboth {
  clear: both;
}
#popup {
  width: 280px;
  height: 180px;
  background: #eeeeee;
  padding: 10px;
}
.title {
  margin-bottom: 0;
}
.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  visibility: hidden;
}
.singleTag {
  padding: 10px 15px 10px 5px;
  width: auto;
  float: left;
  position: relative;
  margin-left: 5px;
}
.singleTag:hover {
  background: #cccccc;
}
.singleTag:hover .delete{
  visibility: visible;
}
#template, #currentTag {
  display: none;
}
#errorMsg {
  display: none;
}
.cover {
  width: auto;
  height: 100vh;
  display: block;
  margin: 0 auto;
  visibility: hidden;
}